/*
///////////////////////////////////////////////////////////////////////////////////////////////
// scss/utilities/_placeholders.scss :   placeholders for: links, images, headlines, nav items
///////////////////////////////////////////////////////////////////////////////////////////////
*/


///////////////////////////////////////////////////////////////////////////////////////////
// Helpers
///////////////////////////////////////////////////////////////////////////////////////////


// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


//For pseudo-elements
%pseudos {
  display: block;
  content: '';
  position: absolute;
}


// Center elements
%centered {
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

// Screen reader Text
.srt {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


///////////////////////////////////////////////////////////////////////////////////////////
// headlines
///////////////////////////////////////////////////////////////////////////////////////////
%headline--primary {
  text-align: center;
  font-size: em(20px);
  font-family: $font-family--primary;
  font-weight: $font-weight--ultra-bold;
  line-height: em(30px, 30px);
}


%headline--secondary {
  font-size: em($base__font-size);
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
}


//////////////////////////////////////////////////////////////////////////////
// Buttons
//////////////////////////////////////////////////////////////////////////////
%buttons {
  font-family: $font-family--primary;
  background-color: transparent; // test
  border: none;
  align-self: center;
  text-align: center;
  color: $color--primary;
  &:hover{
    color: $color--secondary;
  }
  &:active {
    opacity: initial;
  }
}

%sliders {
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: $color--primary;
    cursor: pointer; /* Cursor on hover */
  }
  &::-moz-range-thumb {
    width: 32px; /* Set a specific slider handle width */
    height: 32px; /* Slider handle height */
    background: $color--primary;
    cursor: pointer; /* Cursor on hover */
  }
}
