/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_typography.scss : Font styles
////////////////////////////////////////////////////////////////////////////////
*/

// Main Headlines
.headline {
  @include m(primary) {
    @extend %headline--primary;
    margin-bottom: 0;
    color: $color--primary;
    @include media-query(medium) {
      font-size: em(40px);
    }
  }
  @include m(secondary) {
    @extend %headline--secondary;
    color: palette(silver-chalace, xx-dark);
    text-align: justify;
    @include media-query(medium) {
      text-align: left;
    }
  }
  @include m(footer) {
    @extend %headline--secondary;
    color: palette(silver-chalace, light);
  }
}

section.grid__row{
  @include flex(row);
  @extend %headline--secondary;
}

// Config Cog icon
.svg-inline--fa.fa-cog.fa-w-16{
  color: palette(silver-chalace, xx-dark);
  cursor: pointer;
  @include media-query(medium){
    position: absolute;
    font-size: 60px;
    top: 16px;
    left: 16px;
    padding: 5px;
    border-radius: $border-radius--round;
    border: 3px solid $color--primary;
  }
}
