/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_typography.scss : Font styles
////////////////////////////////////////////////////////////////////////////////
*/

// Main Headlines
.headline {
  @include m(primary) {
    @extend %headline--primary;
    color: $color--primary;
    @include media-query(medium) {
      font-size: em(40px);
    }
  }
  @include m(secondary) {
    @extend %headline--secondary;
    color: palette(silver-chalace, xx-dark);
    text-align: justify;
    padding: 0 8px;
    @include media-query(medium) {
      text-align: left;
    }
  }
  @include m(footer) {
    @extend %headline--secondary;
    text-align: center;
    color: palette(silver-chalace, light);
  }
}

.player__controls--settings--player-choice {
  font-family: $font-family--secondary;
  li{
    padding: 5px 5px;
  }
}

.hidden{
  @extend .srt;
}
