/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_video.scss : Video player styles
////////////////////////////////////////////////////////////////////////////////
*/

video::-webkit-media-controls { display:none !important;}

.player{
  @include flex(row);
    min-width: 320px;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    @include media-query(medium) {
      border-radius: .8em .8em 0 0;
    }
    @include m(container){
      @include flex(column);
      &:fullscreen {
        border-radius: none;
        background-color: black;
        width: 100vw;
        height: 100vh;
      }
    }

    @include e(controls) {
      position: relative;
      padding: 8px 0;
      @include flex(row);
      justify-content:space-between;
      opacity: .75;
      background-color: palette(black);
      z-index: 2;
      cursor: pointer;
      // controls
      @include m(settings) {
        @extend %buttons;
      }
      @include m(cc) {
        @extend %buttons;
      }
      @include m(play) {
        @extend %buttons;
      }
      @include m(playback-possition) {
        @extend %sliders;
      }
      @include m(volume) {
        @extend %buttons;
        @include flex(row);
      }
      @include m(volume-slider) {
        @extend %sliders;
        position: absolute;
        top: -75px;
        z-index: 2;
        transform: rotate(-90deg);
      }
      @include m(fullscreen) {
        @extend %buttons;
      }
      @include m(info) {
        @extend %buttons;
      }
      // Media Query
      @include media-query(medium) {
        border-radius: 0 0 .4em .4em;
        font-size: em(36px);
      }
    }
}
