/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_video.scss : Video player styles
////////////////////////////////////////////////////////////////////////////////
*/


.video{
  @include e(player){
    min-width: 320px;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    @include media-query(medium) {
      border-radius: .4em .4em 0 0;
    }
    @include e(controls) {
      @include flex(row);
      justify-content: space-around;
      opacity: .75;
      padding: 5px 0;
      text-align: center;
      color: $color--primary;
      min-width: 320px;
      background-color: palette(black);
      z-index: 2;
      cursor: pointer;
      // controls
      @include m(cc) {
        // background-color: red; // test
      }
      @include m(play) {
        // background-color: red; // test
      }
      @include m(volume) {
        // background-color: red; // test
      }
      @include m(fullscreen) {
        // background-color: red; // test
      }
      // Media Query
      @include media-query(medium) {
        border-radius: 0 0 .4em .4em;
        font-size: em(36px);
        // margin: -45px 0 16px 0;
      }
    }
  }
}
