/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_video.scss : Video player styles
////////////////////////////////////////////////////////////////////////////////
*/


.video{
  @include e(player){
    min-width: 320px;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    @include media-query(medium) {
      border-radius: $border-radius--default;
    }
    @include m(controls) { // todo: set width for each control and spacing
      opacity: .75;
      padding: 5px 0;
      text-align: center;
      color: $color--primary;
      background-color: palette(black);
      margin: -36px 0 16px 0;
      z-index: 2;
      @include media-query(medium) {
        border-radius: 0 0 .4em .4em;
      }
    }
  }
}
